@use '../includes/variables' as *;
@use '../includes/mixins' as *;

.radio-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:0.5rem;
    padding: 5px;
    white-space: nowrap;
    @media (max-width: $build-responsive-phone) {
        grid-template-columns: 1fr;
    }
}

.select-tier {
    p {
        padding: 0 !important;
    }
}

.radio-container {
    cursor: pointer;
    user-select: none;
    text-align: center;

    p {
        padding: 0.5rem;
        &:nth-child(2) {
            font-weight: bold;
            color: $secondary-color;
            font-size:1.5rem;
        }
        opacity:0.8;
    }
    &.tier-select {
        p {
            padding:0;
        }
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    .checkmark {
        @include flex(column, center, center);
        background-color: rgb(14, 14, 14);
        border-radius: 8px;
        padding: 1rem;
        transition: 0.3s ease;
        font-weight:bold;
        border:solid 2px rgba(255, 255, 255, 0.288);
        opacity:0.4;
        position:relative;
        &.tier-basic, &.tier-standard, &.tier-premium {
            font-size:1.8rem;
            padding:1.5rem;
            border:none;
        }
        &.tier-basic {
            background: $basic-tier;
        }
        &.tier-standard {
            background: $standard-tier;
        }
        &.tier-premium {
            background: $premium-tier;
        }
    }

    &:hover {
        input:not(:checked) ~ .checkmark {
            background-color: rgba(255, 255, 255, 0.048);
            opacity:0.8;
        }
    }
    
    input:checked ~ .checkmark {
        border:  2px solid $secondary-color;
        opacity:1;  
        &.tier-basic, &.tier-standard, &.tier-premium {
            border:none;
        }
        p:nth-child(2) {
            font-weight: bold;
        }
    }

}