@use '../includes/mixins' as *;
@use '../includes/variables' as *;

.build-wrapper {
    @include flex(column, center, flex-start);
    min-height: calc(100vh - 10rem);
    padding:7rem 2rem 2rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: $build-responsive-tablet) {
        grid-template-columns: 1fr;
        padding: 1rem;
        padding-top: 5rem;
    }
    h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
        text-align: center;
        text-transform: uppercase;
    }
}

.pc-details-container {
    @media screen and (max-width: $build-responsive-tablet) { 
        margin-top:5rem !important;
    }
}

@keyframes fadeIn { 
    0% { opacity:0; transform: translateY(2rem); }
    100% { opacity:1; transform: translateY(0); }
}

.image-fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

.pc-container {
    @include flex(center, center, center);
    --main-color: #ff4081;
    @media screen and (min-width: $build-responsive-tablet) {
        position: sticky;
        top: 9rem;
        height: calc(100vh - 18rem);
    }
    img {
        max-width:550px;
        width:80%;
        filter: drop-shadow(0 0 5rem var(--main-color));
        // animation: fadeIn 0.5s ease-in-out;
        @media screen and (max-width: $build-responsive-tablet) {
            max-width:400px;
            width:100%;
        }
    }
}
.components {
    h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-transform: capitalize;
    }
    .component {
        span {
            font-weight: bold;
        }
        .component-title {
            @include flex(row, flex-start, center);
            padding:1.5rem 0;
            gap:0.5rem;
            font-size:2rem;
            opacity:0.8;
            text-transform: uppercase;
            svg {
                font-size:2rem;
                color:$secondary-color;
            }
        }
    }
}

.total-price {
    h2 {
        font-size: 2rem;
        padding: 2rem 0;
        span {
            color: $secondary-color;
            font-weight: bold;
        }
    }
}

.order-now {
    display:grid;
    grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
    gap:0.5rem;
    button {
        padding: 1rem 2rem;
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        font-weight:bold;
        color:#fff;
        width:100%;
        background-color: $secondary-color;
        transition:0.3s ease;
        &:hover {
            // background-color: $secondary-color-lighter;
            box-shadow: 0 0 1rem $secondary-color;
        }
    }
}